/* Custom Properties */

:root {
	--tango: #f26716;
	--tango-25: #f2671640;
	--fire: #a62f03;
	--indian-tan: #591202;
	--indian-tan-50: #5a120280;
	--sepia-black: #260101;
	--sepia-black-75: #260101bf;
	--cod-gray: #0d0d0d;
}

/* Reset Styles */

a {
	text-decoration: none;
	color: var(--bs-gray-500);
	transition: all 0.3s ease-out;
}

a:focus {
	color: var(--tango);
	outline: none;
	box-shadow: none;
}

a:hover {
	color: var(--tango);
}

body {
	font-family: 'Montserrat', sans-serif;
}

small {
	color: var(--bs-gray-500);
}

/* Bootstrap Styles */

.accordion-item {
	background-color: var(--indian-tan-50);
}

.accordion-button {
	background-color: var(--indian-tan-50);
	color: white;
	border-bottom-color: var(--bs-gray-500);
	--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23f26716' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.accordion-button::after {
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23f26716' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.accordion-button:focus {
	color: white;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: white;
	background-color: var(--indian-tan-50);
}

.accordion-body {
	background-color: var(--indian-tan-50);
	color: white;
}

.bg-dark {
	background-color: var(--cod-gray) !important;
}

.btn-dark {
	border: none;
	background-color: var(--fire);
}

.btn-dark:hover {
	background-color: var(--tango);
}

.btn-check + .btn:hover {
	background-color: var(--tango);
	border-color: var(--tango);
}

.btn:focus-visible {
	background-color: var(--tango);
	border-color: var(--tango-25);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}
.btn-check:focus-visible + .btn {
	border-color: var(--tango-25);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
	background-color: var(--tango);
	border-color: var(--tango-25);
}
.btn-check:checked + .btn:focus-visible,
:not(.btn-check) + .btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible {
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}
.btn-check:checked:focus-visible + .btn {
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
	pointer-events: none;
	background-color: var(--tango);
	border-color: var(--tango);
}

.btn-check + .btn:hover {
	background-color: var(--tango);
	border-color: var(--tango);
}

.form-control {
	color: var(--bs-white-rgb);
	background-color: var(--indian-tan-50);
	border: var(--bs-border-width) solid var(--fire);
	transition: all 0.15s ease-in-out;
}

.form-control:focus {
	color: var(--bs-white-rgb);
	background-color: var(--indian-tan-50);
	border: var(--bs-border-width) solid var(--fire);
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}

.form-control::placeholder {
	color: var(--bs-gray-500);
}

.form-text {
	color: var(--bs-gray-500);
}

.navbar-dark .navbar-toggler {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28173, 181, 189%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 103, 22%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler[aria-expanded='true'] {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 103, 22%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	box-shadow: none;
}

.nav-link {
	color: var(--bs-gray-500);
	font-weight: 600;
	transition: all 0.3s ease-out;
}

.nav-link.active {
	color: var(--tango) !important;
}

.nav-link:focus {
	color: var(--tango);
	outline: none;
	box-shadow: none;
}

.nav-link:hover {
	color: var(--tango);
}

.spinner-border {
	border-color: var(--tango);
	border-right-color: transparent;
}

.was-validated .form-control:valid,
.form-control.is-valid {
	border-color: var(--fire);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23f26716' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
	border-color: var(--fire);
	box-shadow: 0 0 0 0.25rem var(--tango-25);
}

/* My Styles */

.bg-hero-image {
	background: linear-gradient(
			0deg,
			var(--sepia-black-75),
			var(--sepia-black-75)
		),
		var(--bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-hero-block {
	text-shadow: 0 0 10px var(--cod-gray);
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
